In [1]:
import pandas as pd
import numpy as np

In [3]:
datachile = pd.read_csv('monetary_losses_data.csv', sep=';')

In [4]:
datachile.head()

,ID Earthquake,Flag Tsunami,Year,Month,Day,Focal Depth,EQ Primary,Mw Magnitude,Ms Magnitude,Mb Magnitude,...,Total Effects : Missing Description,Total Effects : Injuries,Total Effects : Injuries Description,Total Effects : Damages in million Dollars,Total Effects : Damage Description,Total Effects : Houses Destroyed,Total Effects : Houses Destroyed Description,Total Effects : Houses Damaged,Total Effects : Houses Damaged Description,Coordinates
0,78,NaN,334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"41.2,19.3"
1,84,Tsunami,344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,SEVERE (~>$5 to $24 million),NaN,NaN,NaN,NaN,"40.3,26.5"
2,9989,Tsunami,346,NaN,NaN,NaN,6.8,NaN,6.8,NaN,...,NaN,NaN,NaN,NaN,MODERATE (~$1 to $5 million),NaN,Many (~101 to 1000 houses),NaN,NaN,"41.4,19.4"
3,110,NaN,438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"35.5,25.5"
4,9971,Tsunami,557,NaN,NaN,NaN,7.0,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"40.9,27.6"

In [5]:
datachile['Date']=pd.to_datetime(datachile[["Year", "Month", "Day"]],  errors = 'coerce')

In [6]:
datachile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6208 entries, 0 to 6207
Data columns (total 44 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0    ID Earthquake                                6208 non-null   int64
 1   Flag Tsunami                                  1838 non-null   object
 2   Year                                          6208 non-null   int64
 3   Month                                         5800 non-null   float64
 4   Day                                           5646 non-null   float64
 5   Focal Depth                                   3243 non-null   float64
 6   EQ Primary                                    4416 non-null   float64
 7   Mw Magnitude                                  1334 non-null   float64
 8   Ms Magnitude                                  2930 non-null   float64
 9   Mb Magnitude                                  1804 non-null   float64
 10  Ml Magnitude                                  184 non-null    float64
 11  MFA Magnitude                                 14 non-null     float64
 12  Unknown Magnitude                             777 non-null    float64
 13  Intensity                                     2826 non-null   float64
 14  Country                                       6208 non-null   object
 15  State                                         323 non-null    object
 16  Location name                                 6207 non-null   object
 17  Region code                                   6207 non-null   float64
 18  Earthquake : Deaths                           2069 non-null   float64
 19  Earthquake : Deaths Description               2551 non-null   object
 20  Earthquake : Missing                          21 non-null     float64
 21  Earthquake : Missing Description              21 non-null     object
 22  Earthquake : Injuries                         1244 non-null   float64
 23  Earthquake : Injuries Description             1432 non-null   object
 24  Earthquake : Damage (in M$)                   511 non-null    float64
 25  Earthquake : Damage Description               4446 non-null   object
 26  Earthquakes : Houses destroyed                786 non-null    float64
 27  Earthquakes : Houses destroyed Description    1704 non-null   object
 28  Earthquakes : Houses damaged                  490 non-null    float64
 29  Earthquakes : Houses damaged Description      940 non-null    object
 30  Total Effects : Deaths                        1702 non-null   float64
 31  Total Effects : Deaths Description            2040 non-null   object
 32  Total Effects : Missing                       25 non-null     float64
 33  Total Effects : Missing Description           26 non-null     object
 34  Total Effects : Injuries                      1259 non-null   float64
 35  Total Effects : Injuries Description          1441 non-null   object
 36  Total Effects : Damages in million Dollars    456 non-null    float64
 37  Total Effects : Damage Description            3293 non-null   object
 38  Total Effects : Houses Destroyed              817 non-null    float64
 39  Total Effects : Houses Destroyed Description  1784 non-null   object
 40  Total Effects : Houses Damaged                428 non-null    float64
 41  Total Effects : Houses Damaged Description    821 non-null    object
 42  Coordinates                                   6153 non-null   object
 43  Date                                          5042 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(24), int64(2), object(17)
memory usage: 2.1+ MB

In [7]:
datachile.nunique()

 ID Earthquake                                  6208
Flag Tsunami                                       1
Year                                             950
Month                                             12
Day                                               31
Focal Depth                                      198
EQ Primary                                        64
Mw Magnitude                                      54
Ms Magnitude                                      56
Mb Magnitude                                      48
Ml Magnitude                                      49
MFA Magnitude                                     14
Unknown Magnitude                                 54
Intensity                                         11
Country                                          155
State                                             32
Location name                                   3871
Region code                                       18
Earthquake : Deaths                              415
Earthquake : Deaths Description                    5
Earthquake : Missing                              19
Earthquake : Missing Description                   4
Earthquake : Injuries                            350
Earthquake : Injuries Description                  4
Earthquake : Damage (in M$)                      255
Earthquake : Damage Description                    4
Earthquakes : Houses destroyed                   420
Earthquakes : Houses destroyed Description         5
Earthquakes : Houses damaged                     312
Earthquakes : Houses damaged Description           4
Total Effects : Deaths                           399
Total Effects : Deaths Description                 4
Total Effects : Missing                           21
Total Effects : Missing Description                4
Total Effects : Injuries                         356
Total Effects : Injuries Description               4
Total Effects : Damages in million Dollars       247
Total Effects : Damage Description                 4
Total Effects : Houses Destroyed                 427
Total Effects : Houses Destroyed Description       4
Total Effects : Houses Damaged                   287
Total Effects : Houses Damaged Description         4
Coordinates                                     5478
Date                                            4791
dtype: int64

In [8]:
data_3=datachile.loc[(datachile['Country']=='CHILE')| (datachile['Country']=='USA') | (datachile['Country']=='JAPAN')]

In [9]:
data_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 871 entries, 10 to 6202
Data columns (total 44 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0    ID Earthquake                                871 non-null    int64
 1   Flag Tsunami                                  557 non-null    object
 2   Year                                          871 non-null    int64
 3   Month                                         863 non-null    float64
 4   Day                                           853 non-null    float64
 5   Focal Depth                                   493 non-null    float64
 6   EQ Primary                                    703 non-null    float64
 7   Mw Magnitude                                  220 non-null    float64
 8   Ms Magnitude                                  520 non-null    float64
 9   Mb Magnitude                                  261 non-null    float64
 10  Ml Magnitude                                  51 non-null     float64
 11  MFA Magnitude                                 8 non-null      float64
 12  Unknown Magnitude                             99 non-null     float64
 13  Intensity                                     307 non-null    float64
 14  Country                                       871 non-null    object
 15  State                                         267 non-null    object
 16  Location name                                 871 non-null    object
 17  Region code                                   871 non-null    float64
 18  Earthquake : Deaths                           200 non-null    float64
 19  Earthquake : Deaths Description               244 non-null    object
 20  Earthquake : Missing                          4 non-null      float64
 21  Earthquake : Missing Description              4 non-null      object
 22  Earthquake : Injuries                         147 non-null    float64
 23  Earthquake : Injuries Description             171 non-null    object
 24  Earthquake : Damage (in M$)                   118 non-null    float64
 25  Earthquake : Damage Description               476 non-null    object
 26  Earthquakes : Houses destroyed                105 non-null    float64
 27  Earthquakes : Houses destroyed Description    171 non-null    object
 28  Earthquakes : Houses damaged                  45 non-null     float64
 29  Earthquakes : Houses damaged Description      85 non-null     object
 30  Total Effects : Deaths                        215 non-null    float64
 31  Total Effects : Deaths Description            271 non-null    object
 32  Total Effects : Missing                       3 non-null      float64
 33  Total Effects : Missing Description           3 non-null      object
 34  Total Effects : Injuries                      141 non-null    float64
 35  Total Effects : Injuries Description          163 non-null    object
 36  Total Effects : Damages in million Dollars    107 non-null    float64
 37  Total Effects : Damage Description            449 non-null    object
 38  Total Effects : Houses Destroyed              126 non-null    float64
 39  Total Effects : Houses Destroyed Description  200 non-null    object
 40  Total Effects : Houses Damaged                43 non-null     float64
 41  Total Effects : Houses Damaged Description    83 non-null     object
 42  Coordinates                                   863 non-null    object
 43  Date                                          778 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(24), int64(2), object(17)
memory usage: 306.2+ KB

In [10]:
data_3[' ID Earthquake'].head()

10    5945
19     855
20     941
29    5997
31    9783
Name:  ID Earthquake, dtype: int64

In [11]:
data_3.loc[data_3[' ID Earthquake']==10036,['Focal Depth']]=2
data_3.loc[data_3[' ID Earthquake']==7614,['Focal Depth']]=5
data_3.loc[data_3[' ID Earthquake']==5538,['Focal Depth']]=20
data_3.loc[data_3[' ID Earthquake']==9813,['Focal Depth']]=25
data_3.loc[data_3[' ID Earthquake']==4248,['Focal Depth']]=20

In [12]:
data_3.loc[data_3[' ID Earthquake']==10036]

,ID Earthquake,Flag Tsunami,Year,Month,Day,Focal Depth,EQ Primary,Mw Magnitude,Ms Magnitude,Mb Magnitude,...,Total Effects : Injuries,Total Effects : Injuries Description,Total Effects : Damages in million Dollars,Total Effects : Damage Description,Total Effects : Houses Destroyed,Total Effects : Houses Destroyed Description,Total Effects : Houses Damaged,Total Effects : Houses Damaged Description,Coordinates,Date
1035,10036,NaN,2013,4.0,18.0,2.0,2.1,NaN,NaN,2.1,...,200.0,Many (~101 to 1000 deaths),100.0,EXTREME (~$25 million or more),50.0,Few (~1 to 50 houses),NaN,NaN,"31.817,-97.088",2013-04-18

In [14]:
data_3.loc[data_3['EQ Primary'].notna()]

,ID Earthquake,Flag Tsunami,Year,Month,Day,Focal Depth,EQ Primary,Mw Magnitude,Ms Magnitude,Mb Magnitude,...,Total Effects : Injuries,Total Effects : Injuries Description,Total Effects : Damages in million Dollars,Total Effects : Damage Description,Total Effects : Houses Destroyed,Total Effects : Houses Destroyed Description,Total Effects : Houses Damaged,Total Effects : Houses Damaged Description,Coordinates,Date
10,5945,Tsunami,1408,1.0,21.0,NaN,7.0,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"33.8,136.9",NaT
29,5997,Tsunami,1726,4.0,1.0,NaN,6.6,NaN,6.6,NaN,...,NaN,NaN,NaN,MODERATE (~$1 to $5 million),NaN,Some (~51 to 100 houses),NaN,NaN,"36.3,136.0",1726-04-01
38,1533,NaN,1796,3.0,30.0,NaN,7.7,NaN,NaN,NaN,...,NaN,NaN,NaN,MODERATE (~$1 to $5 million),NaN,Many (~101 to 1000 houses),NaN,NaN,"-27.35,-70.35",1796-03-30
62,6516,Tsunami,1884,8.0,10.0,NaN,5.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"40.6,-73.75",1884-08-10
68,2532,Tsunami,1898,3.0,31.0,NaN,6.5,NaN,6.5,NaN,...,NaN,NaN,NaN,MODERATE (~$1 to $5 million),NaN,NaN,NaN,NaN,"38.2,-122.4",1898-03-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6191,3852,NaN,1947,4.0,10.0,NaN,6.4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"35.0,-116.6",1947-04-10
6195,4021,Tsunami,1953,5.0,6.0,60.0,7.6,NaN,NaN,NaN,...,26.0,Few (~1 to 50 deaths),500.0,EXTREME (~$25 million or more),NaN,NaN,NaN,NaN,"-36.5,-72.5",1953-05-06
6196,4060,NaN,1954,12.0,16.0,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"39.3,-118.2",1954-12-16
6199,6374,Tsunami,1956,8.0,12.0,50.0,6.5,NaN,6.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"33.8,138.8",1956-08-12
6202,6388,Tsunami,1960,3.0,23.0,20.0,6.7,NaN,6.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"39.4,143.7",1960-03-23

In [15]:
data_3.loc[data_3['Focal Depth'].notna()]

,ID Earthquake,Flag Tsunami,Year,Month,Day,Focal Depth,EQ Primary,Mw Magnitude,Ms Magnitude,Mb Magnitude,...,Total Effects : Injuries,Total Effects : Injuries Description,Total Effects : Damages in million Dollars,Total Effects : Damage Description,Total Effects : Houses Destroyed,Total Effects : Houses Destroyed Description,Total Effects : Houses Damaged,Total Effects : Houses Damaged Description,Coordinates,Date
97,6543,Tsunami,1925,5.0,15.0,50.0,7.1,NaN,7.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-26.0,-71.5",1925-05-15
107,3621,Tsunami,1938,6.0,10.0,35.0,7.6,7.6,7.7,NaN,...,NaN,NaN,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,NaN,NaN,"25.208,125.115",1938-06-10
108,6632,Tsunami,1938,11.0,9.0,20.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"37.6,141.2",1938-11-09
110,3784,NaN,1944,9.0,5.0,12.0,5.6,NaN,5.6,NaN,...,NaN,NaN,2.000,MODERATE (~$1 to $5 million),NaN,NaN,NaN,NaN,"44.957,-74.723",1944-09-05
112,3822,Tsunami,1946,4.0,1.0,15.0,8.6,8.6,7.3,NaN,...,NaN,NaN,26.271,EXTREME (~$25 million or more),NaN,Many (~101 to 1000 houses),NaN,NaN,"53.492,-162.832",1946-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6185,6337,Tsunami,1938,11.0,13.0,60.0,6.0,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"37.0,141.5",1938-11-13
6186,3688,Tsunami,1941,11.0,18.0,10.0,7.4,NaN,7.4,NaN,...,NaN,NaN,NaN,LIMITED (roughly corresponding to less than $1...,27.0,Few (~1 to 50 houses),NaN,NaN,"32.0,132.1",1941-11-18
6195,4021,Tsunami,1953,5.0,6.0,60.0,7.6,NaN,NaN,NaN,...,26.0,Few (~1 to 50 deaths),500.000,EXTREME (~$25 million or more),NaN,NaN,NaN,NaN,"-36.5,-72.5",1953-05-06
6199,6374,Tsunami,1956,8.0,12.0,50.0,6.5,NaN,6.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"33.8,138.8",1956-08-12
6202,6388,Tsunami,1960,3.0,23.0,20.0,6.7,NaN,6.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"39.4,143.7",1960-03-23

In [16]:
data_3['Class_Depth'] = pd.cut(
    x=data_3["Focal Depth"],
    bins=[0, 49, 300, np.inf],
    labels=["Shallow", "Intermediate", "Deep"],
)

/var/folders/2n/42m9mx412xq0gmr0k07j5m_c0000gn/T/ipykernel_11326/3082468027.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_3['Class_Depth'] = pd.cut(

In [17]:
data_3['Class_Mag'] = pd.cut(
    x=data_3["EQ Primary"],
    bins=[0, 2.9, 3.9,4.9,5.9,6.9,7.9, np.inf],
    labels=["Very Minor", "Minor", "Light","Moderate","Strong","Major","Great"],
)

/var/folders/2n/42m9mx412xq0gmr0k07j5m_c0000gn/T/ipykernel_11326/2739032516.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_3['Class_Mag'] = pd.cut(

In [18]:
data_3.drop(['Mw Magnitude','Ms Magnitude', 'Ml Magnitude','MFA Magnitude','Unknown Magnitude','State','Region code','Earthquake : Missing','Earthquake : Missing Description','Total Effects : Missing','Total Effects : Missing Description'], axis=1)

,ID Earthquake,Flag Tsunami,Year,Month,Day,Focal Depth,EQ Primary,Mb Magnitude,Intensity,Country,...,Total Effects : Damages in million Dollars,Total Effects : Damage Description,Total Effects : Houses Destroyed,Total Effects : Houses Destroyed Description,Total Effects : Houses Damaged,Total Effects : Houses Damaged Description,Coordinates,Date,Class_Depth,Class_Mag
10,5945,Tsunami,1408,1.0,21.0,NaN,7.0,NaN,NaN,JAPAN,...,NaN,NaN,NaN,NaN,NaN,NaN,"33.8,136.9",NaT,NaN,Major
19,855,NaN,1611,9.0,27.0,NaN,NaN,NaN,NaN,JAPAN,...,NaN,NaN,NaN,NaN,NaN,NaN,"37.5,140.0",NaT,NaN,NaN
20,941,NaN,1639,12.0,NaN,NaN,NaN,NaN,10.0,CHILE,...,NaN,NaN,NaN,NaN,NaN,NaN,"-30.0,-71.4",NaT,NaN,NaN
29,5997,Tsunami,1726,4.0,1.0,NaN,6.6,NaN,NaN,JAPAN,...,NaN,MODERATE (~$1 to $5 million),NaN,Some (~51 to 100 houses),NaN,NaN,"36.3,136.0",1726-04-01,NaN,Strong
31,9783,Tsunami,1742,3.0,23.0,NaN,NaN,NaN,NaN,CHILE,...,NaN,NaN,NaN,NaN,NaN,NaN,"-36.8,-73.0",1742-03-23,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6191,3852,NaN,1947,4.0,10.0,NaN,6.4,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,"35.0,-116.6",1947-04-10,NaN,Strong
6195,4021,Tsunami,1953,5.0,6.0,60.0,7.6,NaN,10.0,CHILE,...,500.0,EXTREME (~$25 million or more),NaN,NaN,NaN,NaN,"-36.5,-72.5",1953-05-06,Intermediate,Major
6196,4060,NaN,1954,12.0,16.0,NaN,7.0,NaN,10.0,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,"39.3,-118.2",1954-12-16,NaN,Major
6199,6374,Tsunami,1956,8.0,12.0,50.0,6.5,NaN,NaN,JAPAN,...,NaN,NaN,NaN,NaN,NaN,NaN,"33.8,138.8",1956-08-12,Intermediate,Strong
6202,6388,Tsunami,1960,3.0,23.0,20.0,6.7,NaN,NaN,JAPAN,...,NaN,NaN,NaN,NaN,NaN,NaN,"39.4,143.7",1960-03-23,Shallow,Strong

In [19]:
lat = []
lon = []


for row in data_3['Coordinates']:
   
    try:
        
        lat.append(row.split(',')[0])
       
        lon.append(row.split(',')[1])
    
    except:
       
        lat.append(np.NaN)
        
        lon.append(np.NaN)


data_3['latitude'] = lat
data_3['longitude'] = lon

/var/folders/2n/42m9mx412xq0gmr0k07j5m_c0000gn/T/ipykernel_11326/1277518542.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_3['latitude'] = lat
/var/folders/2n/42m9mx412xq0gmr0k07j5m_c0000gn/T/ipykernel_11326/1277518542.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_3['longitude'] = lon

In [20]:
data_3.drop(['Coordinates'], axis=1)

,ID Earthquake,Flag Tsunami,Year,Month,Day,Focal Depth,EQ Primary,Mw Magnitude,Ms Magnitude,Mb Magnitude,...,Total Effects : Damage Description,Total Effects : Houses Destroyed,Total Effects : Houses Destroyed Description,Total Effects : Houses Damaged,Total Effects : Houses Damaged Description,Date,Class_Depth,Class_Mag,latitude,longitude
10,5945,Tsunami,1408,1.0,21.0,NaN,7.0,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Major,33.8,136.9
19,855,NaN,1611,9.0,27.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,37.5,140.0
20,941,NaN,1639,12.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,-30.0,-71.4
29,5997,Tsunami,1726,4.0,1.0,NaN,6.6,NaN,6.6,NaN,...,MODERATE (~$1 to $5 million),NaN,Some (~51 to 100 houses),NaN,NaN,1726-04-01,NaN,Strong,36.3,136.0
31,9783,Tsunami,1742,3.0,23.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1742-03-23,NaN,NaN,-36.8,-73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6191,3852,NaN,1947,4.0,10.0,NaN,6.4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1947-04-10,NaN,Strong,35.0,-116.6
6195,4021,Tsunami,1953,5.0,6.0,60.0,7.6,NaN,NaN,NaN,...,EXTREME (~$25 million or more),NaN,NaN,NaN,NaN,1953-05-06,Intermediate,Major,-36.5,-72.5
6196,4060,NaN,1954,12.0,16.0,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1954-12-16,NaN,Major,39.3,-118.2
6199,6374,Tsunami,1956,8.0,12.0,50.0,6.5,NaN,6.5,NaN,...,NaN,NaN,NaN,NaN,NaN,1956-08-12,Intermediate,Strong,33.8,138.8
6202,6388,Tsunami,1960,3.0,23.0,20.0,6.7,NaN,6.7,NaN,...,NaN,NaN,NaN,NaN,NaN,1960-03-23,Shallow,Strong,39.4,143.7

In [ ]:
data_3.to_excel(r"data_3_final.xlsx", encoding='utf-8', index=False)